doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title @!name!@
    link(rel="stylesheet",type="text/css",href="css/style.css")
    link(rel="stylesheet",type="text/css",href="css/bootstrap-responsive.min.css")
    link(rel="stylesheet",type="text/css",href="css/bootstrap.min.css")
<!--(if use_jquery)-->
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
<!--(end)-->
    script(src="script.js")
  body
    h1 @!name!@
